<!DOCTYPE html>
<html>
<title>No Name Lab</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="" class="w3-bar-item w3-button">No Name Lab</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#project" class="w3-bar-item w3-button">Projects</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">Le Catering</h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../static/images/img_home_page.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="400" height="400">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About</h1><br>
      <h5 class="w3-center">It's all about fun!</h5>
      <p class="w3-large">Machine learning (ML) is the study of computer algorithms that improve automatically through experience and by the use of data.
        It is seen as a part of artificial intelligence.</p>
      <p class="w3-large w3-text-grey w3-hide-medium">Machine learning algorithms build a model based on sample data, known as "training data", in order to make predictions or decisions without being explicitly programmed to do so.
        Machine learning algorithms are used in a wide variety of applications, such as in medicine, email filtering, and computer vision, where it is difficult or unfeasible to develop conventional algorithms to perform the needed tasks.</p>
    </div>
  </div>
  
  <hr>
  
  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="project">
    <h1 class="w3-center">Projects</h1><br>
    <h4>New Game</h4>
    <p class="w3-text-grey">xxx simple RL implementation xxx</p><br>  
  </div>

  <hr>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-64" id="contact">
    <h1>Contact</h1><br>
    <p class="w3-text-blue-grey w3-large"><b></b><a href="https://www.linkedin.com/in/smruti-ranjan-satpathy-15b0a039/" title="Smruti Ranjan Satpathy" target="_blank" class="w3-hover-text-green">Smruti Ranjan Satpathy</a></b></p>
    <p>Bengaluru, India</p>
    <p>smrutijz@hotmail.com</p>
  </div>
  
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p>Powered by <a href="" title="no name lab" target="_blank" class="w3-hover-text-green">no name lab</a></p>
</footer>

</body>
</html>
